h1{
    color: red;
}
main .whrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    
  
}
.news-card{
    height: 300px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template: 1fr/1fr 2fr;
    border: 1px solid #777;
}
.news-card_img{
    background: #191;
    
}
.news-card_img img{
    width: 100%;
    height: 100%;
}
.news-card_description{
    padding: 20px;
}
.subject{
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: 20px;
    color: #111;
}
.icon_block{
    margin-bottom: 17px;
    color: #888;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.like{
    margin-left: 15px;
    margin-right: 2px;
    height: 15px;
    width: 15px;
    
    cursor: pointer;
    color: transparent;
}
.number_of_like{
    color: #333;
}
.text{
    margin-bottom: 20px;
    color: #444;
}