h1{
    color: red;
}
main .whrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    border: 1px solid #666;
  
}
.news-card{
    height: 300px;
    width: 90%;
    margin: 20px auto 0;
    background: red;
    display: grid;
    grid-template: 1fr/1fr 2fr;
}
.news-card_img{
    background: #191;
}
.news-card_description{
    padding: 20px;
}
.subject{
    margin-bottom: 7px;
}
.icon_block{
    margin-bottom: 17px;
}

.text{
    margin-bottom: 20px;
}