main{
    min-height: 82vh;
}

ul>li{
    list-style: none;
}
main .whrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    border: 1px solid #666;
    height: 60vh;
}

.category{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
    
}

.category_item {
    padding: 10px 20px;
    border: 1px solid #DDD;
    cursor: pointer;
}