* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
font-family: montserrat, sans-serif;}

body{
    background: #F6F6F6;
}

a {
  text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  color: inherit; }

header {
  background: #C3C8D1;
  height: 60px; }
  header nav {
    margin: 0 auto;
    max-width: 1360px;
    height: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-transform: uppercase; }
    header nav .nav_left {
      width: 40%;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      header nav .nav_left .sign_up {
        height: 100%;
        }
        header nav .nav_left .sign_up:hover {
          background: #a6a6a6;
          cursor: pointer; }
    header nav ul {
        margin-left: 30px;
        width: 60%;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%; }
      header nav ul li {
        list-style: none;
      
        height: 100%; 
        }
        header nav ul li:hover {
          background: #a6a6a6;
          cursor: pointer; }

footer {
  height: 60px;
  background: #A1B2D1; }
  footer .whrapper {
    margin: 0 auto;
    max-width: 1360px;
    text-align: center; }

main {
    padding: 15px;
    height: auto;
  margin: 0 auto;
  max-width: 1360px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  main aside {
    width: 300px;
     }
  main .left_bar {
    padding: 10px;
      
   }
main .left_bar ul{
    border: 1px solid #D4D4D4;
     background: #fff;
    padding: 5px;
}
    main .left_bar ul li {
     
      list-style: none;
      margin-bottom: 5px;
      border-bottom: 1px solid #888;
      padding: 20px 0 20px 0; }
.label{
    font-size: 14px;
    background: #EFEFEF;
    border: 1px solid #D4D4D4;
    border-bottom: 0px solid #D4D4D4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    width: 70%;
    height: 30px;
    padding: 5px 10px;
}
  main .right_bar {
    padding: 10px;
     }

main .right_bar .persons{
    padding: 5px;
    background: #fff;
      border: 1px solid #D4D4D4;
}
     .person_card {
      height: 220px;
     
      margin-bottom: 10px; 

}
.person_card .photo{
    height: 170px;
}
.person_card .info_block{

    width: 100%;
    height: 50px;
    text-align: center;
}
  main section {
    padding: 10px;  
    width: 100%;
    text-align: center; }
main section .label{
    width: 30%;
}

.slider{
    background: url(../img/slider/slide_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #D4D4D4;
    height: 80vh;
 
   
}
.account_icon{
    
    margin-right: 3px;
        background: url(../img/icons/user-account-box.svg);
        width: 15px;
        height: 15px;
     background-size: cover;
      float: left;
   
    }
.nav_right li a, .sign_up a{
    padding: 20px;
    display: block;
    height: 100%;
    
   
}
