@import "mixins.scss";
// header

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{ 
    text-decoration: none;
    color: inherit;
}
header{
      background: lighten(gray, 35%); 
    height: 60px; 
    nav{
        @include justify;
        height: 100%; 
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
       
        text-transform: uppercase;
        .nav_left{
            width: 50%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .sign_up{
                height: 100%;
                padding: 20px 10px;
                 &:hover{
                    background: lighten(gray, 15%);
                    cursor: pointer;
                }
            }
        }
        ul{
           
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            li{
                list-style: none;
                padding: 20px;
                height: 100%;
                &:hover{
                    background: lighten(gray, 15%);
                    cursor: pointer;
                }
                
            }
        }
    }
}

