@import "mixins.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   
    width: 300px;
    margin: 0 auto;
     margin-top: 200px;
    height: 300px;
    background: #DDD;
    border-radius: 10px;
    border: 1px solid #888;
    form{
        height: 100%;
        
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input{
            height: 30px;
            margin-bottom: 20px;
        }
        [type="submit"]{
            margin-top: 10px;
            width: 40%;
        }
    }
}

